<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ford Contato</title>
    <link rel="stylesheet" href="../../assets/styles/global.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logoford">
            <a href="../home/home.html"><img src="../../assets/img/logo-ford-256.png" alt="logomarca"></a>
        </div>
        <div class="menu">
            <nav class="navegação">
                <ul>
                    <li><a href="../home/home.html">Home</a></li>
                    <li><a href="../lancamento/lancamento.html">Lançamento</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div> 
    </header>
    
    <hr class="linha">
        <main class="principal">
            <div class="bloco">
                
                <img src="../../assets/img/xls 2.2 diesel.jpg" alt="carro">
                
            </div>
            <div class="inputs">
                <p class="texto">Sobre Você</p>
                
                    <input type="text" id="Nome" name="Nome" placeholder="Nome"> 
                    <input type="text" id="E-mail" name="E-mail" placeholder="E-mail">
                    <input type="text" id="Telefone" name="Telefone" placeholder="Telefone">
                    
                    <select class="contato" id="TipoContato" name="TipoContato" >
                        <option value="">Selecione o tipo de contato</option>
                        <option value="elogio">Elogio</option>
                        <option value="reclamacao">Reclamação</option>
                        <option value="solicitacao">Solicitação</option>
                    </select>
                    
                    <textarea  id="MENSAGEM" name="MENSAGEM" placeholder="Mensagem"></textarea>
                <button>Enviar</button>
            </div>    
            
        </main>
        <footer>
            <div class="redessociais">
                <p>Redes Sociais</p>
                <a class="redes" href="https://www.facebook.com/FordBrasil/"><img src="../../assets/img/facebook-50.png"></a>
                <a class="redes" href="https://www.youtube.com/@fordbrasil"><img src="../../assets/img/youtube-squared-50.png"></a>
                <a class="redes" href="https://www.instagram.com/ford/"><img src="../../assets/img/instagram-logo-50.png"></a>
            </div>
            <div class="copy">
                <p>&copy; 2025 Ford Motor Company. Todos os direitos reservados.</p>
            </div>
            <div class="logo_footer">
                <img src="../../assets/img/ford-96.png" alt ="Logo footer">
            </div>
        </footer>
</body>
</html>