
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ford - Home </title>
    <link rel="stylesheet" href="../../assets/styles/global.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logoford">
            <img src="../../assets/img/logo-ford-256.png" alt="logomarca">
        </div>
        <div class="menu">
            <nav class="navegação">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="../lancamento/lancamento.html">Lançamento</a></li>
                    <li><a href="../contato/contato.html">Contato</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
    <hr class="linha">

    <main class="principal">

        <div class="bloco">
            <img src="../../assets/img/imagem_1.jpg" alt="">
        </div>
        <p class="informacao">Essa é a nova Ranger Ford 2022. Verifique informações&nbsp; <a href="../lancamento/lancamento.html" >aqui.</a></p>
    </main>

    <footer>
        <div class="redessociais">
            <p>Redes Sociais</p>
            <a class="redes" href="https://www.facebook.com/FordBrasil/"><img src="../../assets/img/facebook-50.png"></a>
            <a class="redes" href="https://www.youtube.com/@fordbrasil"><img src="../../assets/img/youtube-squared-50.png"></a>
            <a class="redes" href="https://www.instagram.com/ford/"><img src="../../assets/img/instagram-logo-50.png"></a>
        </div>
        <div class="copy">
            <p>&copy; 2025 Ford Motor Company. Todos os direitos reservados.</p>
        </div>
        <div class="logo_footer">
            <img src="../../assets/img/ford-96.png" alt ="Logo footer">
        </div>
    </footer>
</body>
</html>